.user-page-button {
    margin-top: 3px;
}

.page-button-section a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #b8e6eb;
    border-radius: 15px;
    padding: 10px 15px;
}

.page-button-section a:hover {
    opacity: 0.8;
}

.header-btn {
    background-color: #36b7c3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.header-btn a {
    color: white;
    font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn:hover {
    opacity: 0.8;
    box-shadow: 0 0 0 2px #36b7c3 inset, 0 0 0 4px white inset;
}

.header-btn-logout {
    width: calc(80px + (100 - 80) * ((100vw - 320px) / (1920 - 320)));
    height: 38px;
    border-radius: 10px;
}

.header-login-icons {
    color: #36b7c3;
    font-size: 2.2rem;
    margin-right: 6px;
    font-weight: 600;
}

.button-section-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section-name {
    color: #36b7c3;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -------- @MEDIA -------- */


@media (max-width: 583px) {

    .button-section-name {
        display: none;
    }

    .header-login-icons {
        font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (583 - 320)));
        margin-right: 0;
    }    

    .page-button-section a {
        padding: 6px;
        border-radius: 10px;
    }

    .header-btn-logout {
        width: 65px;
        height: 38px;
    }
}
