.header-section {
    width: 100%;
    background-color: rgb(243, 246, 248);
}

.header {
    margin: 0 auto;
    width: 86%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: calc(26px + (38 - 26) * ((100vw - 320px) / (1920 - 320)));
    height: calc(26px + (38 - 26) * ((100vw - 320px) / (1920 - 320)));
    
}

.logo-text {
    font-weight: bold;
    font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1920 - 320)));
    margin-left: 6px;
    color: #4288f8;
    background: linear-gradient(45deg, #36b7c3 27%, #2d8bc4 72%, #8fadc0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-navigation {
    display: flex;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
}

.navigation-item a {
    color: #545454;
    font-size: calc(8px + (24 - 8) * ((100vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
    font-weight: 700;
    height: 100%;
}

.navigation-item {
    margin-right: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
}

.navigation-item a:hover {
    opacity: 0.8;
}

.burger-button-menu {
    display: none;
}


/* -------- @MEDIA -------- */



@media (max-width: 1280px) {

    .burger-button-menu {
        display: flex;
        font-size: calc(24px + (34 - 24) * ((100vw - 320px) / (1280 - 320)));
        cursor: pointer;
        z-index: 10;
        margin-left: 12px;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .navigation {
        height: 200vh;
        width: 100%;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.82);
        position: absolute;
        top: 100px;
        left: -100%;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 10;
        transition: left .8s;
        padding-top: 0;
    }

    .active {
        left: 0;
    }

    .navigation-item {
        margin-bottom: calc(25px + (60 - 25) * ((100vw - 320px) / (1280 - 320)));
    }

    .navigation-item a {
        font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1280 - 320)));
        background-color: rgba(255, 255, 255, 0.941);
        padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1280 - 320)));
        border-radius: 15px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 30px rgba(0, 0, 0, 0.2);
    }

    .navigation-item:first-child {
        margin-top: calc(140px + (180 - 140) * ((100vw - 320px) / (1280 - 320)));
    }
}