.promo-bonds {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("../home/img/phone-background.png");
    background-size: cover;
}

.under-development-bonds {
    height: 15%;
    text-align: center;
    font-size: calc(26px + (44 - 26) * ((100vw - 320px) / (1920 - 320)));
    margin-top: 3rem;
    color: #545454;
    font-weight: 600;
    padding-top: 2.2rem;
}