.under-construction {
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: calc(80px + (150 - 80) * ((100vw - 320px) / (1920 - 320)));
}

.under-construction-section {
    width: 70%;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow:
        0 0.275rem 0.75rem -0.0625rem rgba(11, 22, 25, 0.09),
        0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 3%);
    background-color: white;
}

.under-construction-section-top {
    font-size: calc(12px + (28 - 12) * ((100vw - 320px) / (1920 - 320)));
    color: #6e6d6d;
    align-self: center;
    padding: calc(5px + (16 - 5) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin-top: 30px;
}

.under-construction-section-bottom {
    font-size: calc(10px + (24 - 10) * ((100vw - 320px) / (1920 - 320)));
    color: #848282;
    text-align: center;
    padding: calc(5px + (16 - 5) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
}

.under-construction-section-loader {
    width: 68.8px;
    height: 70px;
    font-size: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: rotating 4s linear infinite;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@keyframes rotating {

    0%,
    90% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0.5turn);
    }
}

.under-construction-section-loader::after {
    content: '';
    position: absolute;
    width: 3.2px;
    height: 32px;
    background-color: #63cdd7;
    animation: flow 4s linear infinite;
}

@keyframes flow {

    10%,
    100% {
        transform: translateY(32px);
    }
}

.section-loader-top,
.section-loader-bottom {
    width: 35px;
    height: 35px;
    border-style: solid;
    border-color: rgb(82, 81, 80);
    border-width: 2px 2px 6px 6px;
    border-radius: 50% 100% 50% 30%;
    overflow: hidden;
}

.section-loader-top {
    transform: rotate(-45deg);
}

.section-loader-bottom {
    transform: rotate(135deg);
}

.section-loader-top::before,
.section-loader-bottom::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #63cdd7;
    animation: 4s linear infinite;
}

.section-loader-top::before {
    border-radius: 0 100% 0 0;
    animation-name: drop-sand;
}

@keyframes drop-sand {
    to {
        transform: translate(-51px, 32px);
    }
}

.section-loader-bottom::before {
    border-radius: 0 0 0 35%;
    transform: translate(18px, -32px);
    animation-name: fill-sand;
}

@keyframes fill-sand {
    to {
        transform: translate(0, 0);
    }
}


/* ---------@MEDIA -------- */


@media screen and (min-width: 320px) and (max-width: 1300px) {

    .under-construction-section {
        width: 100%;
        height: 320px;
    }

    .under-construction-section-top {
        font-size: calc(16px + (26 - 16) * ((100vw - 320px) / (1300 - 320)));
        text-align: center;
    }

    .under-construction-section-bottom {
        font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1300 - 320)));
    }
}