.small-card-scroller {
    width: 100%;
    height: calc(110px + (128 - 110) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
}

.card-scroller-info {
    width: 90%;
    height: 100%;
    border-radius: 15px;
    border: solid 1px #ccc9c9;
    box-shadow:
        0 0.275rem 0.75rem -0.0625rem rgb(11 15 25 / 9%),
        0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 6%);
    display: flex;
    align-items: center;
    background-color: #ece8e8;
}

.but-prev,
.but-next {
    margin-left: calc(14px + (32 - 14) * ((100vw - 320px) / (1920 - 320)));
    margin-right: calc(14px + (32 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.card-info-icon {
    background: linear-gradient(45deg, #36b7c3 27%, #2d8bc4 72.5%, #8fadc0);
    width: calc(140px + (160 - 140) * ((100vw - 320px) / (1920 - 320)));
    height: calc(60px + (80 - 60) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 9px;
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    margin-right: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.master_card-size {
    margin-left: calc(20px + (46 - 20) * ((100vw - 320px) / (1920 - 320)));
    margin-top: calc(18px + (27 - 18) * ((100vw - 320px) / (1920 - 320)));
}

.card-info-right {
    height: 100%;
    width: 100%;
    background-color: #daf7fa;
    padding: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info-description {
    font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
    color: #545454;
}

.card-info-balance {
    font-size: calc(12px + (23 - 12) * ((100vw - 320px) / (1920 - 320)));
    color: #676666;
}

.transfers-icons {
    color: #666767;
    padding-top: 5px;
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.card-right-number {
    display: flex;
}

.card-right-number input {
    width: 70%;
    border: none;
    border-bottom: solid 2px #7a7979;
    background-color: #daf7fa;
    font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
    padding-top: 8px;
    padding-left: 10px;
    color: #7a7979;
}

.card-right-number input::-webkit-input-placeholder {
    opacity: 0.6;
}

.card-right-number input::-moz-placeholder {
    opacity: 0.6;
}

.card-right-number input:-moz-placeholder {
    opacity: 0.6;
}

.card-right-number input:-ms-input-placeholder {
    opacity: 0.6;
}

.card-right-number input:focus {
    border: none;
    border-bottom: solid 2px #7a7979;
    color: #545454;
    outline: none;
}


/* -------- @MEDIA -------- */


@media screen and (min-width: 300px) and (max-width: 985px) {

    .card-right-number input {
        width: 100%;
    }

    .card-info-icon {
        display: none;
    }

    .but-prev,
    .but-next {
        margin-left: 0;
        margin-right: 0;
    }

    .card-scroller-info {
        margin-left: 6px;
        margin-right: 6px;
    }

    .card-info-right {
        padding: 10px;
    }

    .card-info-description,
    .card-info-balance {
        margin-left: 8%;
    }

    .card-info-right {
        border-radius: 15px;
    }
}