.user-page {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.user-page-left {
    width: 40%;
    height: calc(inherit);
    display: flex;
    border-right: 1px solid #cdc8c8;
}

.user-page-right {
    width: 100%;
    height: calc(inherit);
}

.user-page-navigation {
    height: 100%;
    width: 100%;
}

.user-navigation {
    margin-top: 75px;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.user-navigation-item {
    height: 60px;
    padding-left: 19%;
}

.user-navigation-item a {
    color: #33354d;
    font-size: 1.6rem;
    font-weight: 600;
    align-items: center;
    display: flex;
    padding-left: 30px;
    height: 100%;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}

.user-navigation-item a:hover {
    background-color: rgb(198, 239, 242);
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(112, 179, 188, 0.9);
}

.user-navigation-item a:focus {
    background-color: #4fc4cf;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(151, 175, 179, 0.9);
    color: white;
}

.user-content {
    height: 100%;
    margin-right: 9.3%;
    margin-left: 2rem;
}

.nav-icon {
    scale: 1.2;
    padding-right: 10px;
    color: #9397ad;
}

.user-navigation-item a:focus .nav-icon {
    color: #e4e6f5;
}


@media screen and (min-width: 300px) and (max-width: 670px) {

    .nav-text {
        display: none;
    }

    .user-page-left {
        width: 24%;
    }

    .user-page-right {
        width: 76%;
    }


    .user-navigation-item {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .user-navigation-item a {
        padding-left: 70%;
        padding-right: 70%;
        margin-right: 0;
    }

    .nav-icon {
        scale: 1;
        padding-right: 0;
    }

    .user-content {
        margin-right: 4%;
        margin-left: 4%;
    }

    .user-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 670px) and (max-width: 1080px) {

    .nav-text {
        display: none;
    }

    .user-page-left {
        width: 230px;
    }

    .user-page-right {
        width: calc(100% - 230px);
    }


    .user-navigation-item {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .user-navigation-item a {
        padding-left: 30%;
        padding-right: 30%;
        margin-right: 0;
    }

    .nav-icon {
        scale: 1.3;
        padding-right: 0;
    }

    .user-content {
        margin-right: 4%;
        margin-left: 4%;
    }

}

@media screen and (min-width: 1080px) and (max-width: 1430px) {
    .user-page-left {
        width: 25rem;
    }

    .user-page-right {
        width: calc(100% - 25rem);
    }

    .user-navigation-item a {
        font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1430 - 320)));
    }
}

