.bank-card {
    width: 21rem;
    height: 13rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cloudyCardBackground {
    background: linear-gradient(45deg, #36b7c3 27%, #2d8bc4 73%);
}

.blackCardBackground {
    background: linear-gradient(45deg, #000000 5%, #636262 95%);
}

.platinumCardBackground {
    background: linear-gradient(45deg, #0f0f0f 27%, #181817 73%);
}

.whiteCardBackground {
    background: linear-gradient(45deg, #ffffff 27%, #d7dbdb 73%);
}

.kidsCardBackground {
    background: linear-gradient(45deg, #eb835a 27%, #e36882 73%);
}

.epidtrumkaCardBackground {
    background: linear-gradient(45deg, #96f1ba 27%, #5fa4f2 73%);
}

.bank-card__title {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card__title-logo-cloudy {
    font-size: 24px;
}

.bank-card__type {
    font-size: 0.9rem;
    margin-right: 44px;
    margin-top: 14px;
    margin-left: 1.7rem;
    width: 30%;
}

.bank-card__title-logo {
    display: flex;
    font-weight: bold;
    margin-top: 10px;
    width: 70%;
}

.logo-card {
    width: 26px;
    margin-right: 8px;
    margin-top: 8px;
}

.bank-card__number {
    margin-top: 2.6rem;
    font-size: 1.8rem;
    align-self: center;
    text-shadow:
        -1px -1px 1px silver,
        1px -1px 1px silver;
}

.bank-card__footer {
    width: 100%;
    display: flex;
}

.bank-card__date {
    margin-left: 9rem;
    font-size: 1.3rem;
    margin-right: 1.3rem;
    margin-top: 0.5rem;
    text-shadow:
        -1px -1px 1px silver,
        1px -1px 1px silver;
}

.bank-card__master-card {
    margin-top: 0.8rem;

}

.master_card {
    width: 60px;
}


/* -------- @MEDIA -------- */


@media screen and (min-width: 300px) and (max-width: 620px) {

    .bank-card {
        width: calc(170px + (230 - 170) * ((100vw - 320px) / (620 - 320)));
        height: calc(110px + (140 - 110) * ((100vw - 320px) / (620 - 320)));
        margin-right: 3px;
        margin-left: 3px;
    }

    .bank-card__title {
        margin-top: calc(8px + (16 - 8) * ((100vw - 320px) / (620 - 320)));
    }

    .bank-card__type {
        font-size: calc(8px + (10 - 8) * ((100vw - 320px) / (620 - 320)));
        margin-right: 5%;
        margin-top: 7%;
        margin-left: 8%;
        width: 30%;
    }

    .card__title-logo-cloudy {
        font-size: calc(10px + (15 - 10) * ((100vw - 320px) / (620 - 320)));
        padding-top: 5px;
    }

    .logo-card {
        width: calc(10px + (18 - 10) * ((100vw - 320px) / (620 - 320)));
        margin-right: 5px;
    }

    .bank-card__number {
        font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (620 - 320)));
        margin-top: calc(12px + (20 - 12) * ((100vw - 320px) / (620 - 320)));
    }

    .bank-card__date {
        margin-left: calc(80px + (100 - 80) * ((100vw - 320px) / (620 - 320)));
        font-size: calc(9px + (13 - 9) * ((100vw - 320px) / (620 - 320)));
        margin-right: 8%;
    }

    .master_card {
        width: calc(20px + (30 - 20) * ((100vw - 320px) / (620 - 320)));
    }
}

@media screen and (min-width: 620px) and (max-width: 1450px) {

    .bank-card {
        width: 310px;
        height: 205px;
    }

    .bank-card__type {
        font-size: 14px;
        margin-right: 20px;
    }

    .card__title-logo-cloudy {
        font-size: 20px;
    }

    .logo-card {
        width: 24px;
    }

    .bank-card__number {
        font-size: 26px;
    }

    .bank-card__date {
        font-size: 18px;
    }

    .master_card {
        width: 50px;
    }
}