.promo-menu-cards {
    width: 100%;
    height: 125vh;
    display: flex;
    justify-content: center;
    background-image: url("../home/img/phone-background.png");
    background-size: cover;
}

.promo-menu-cards-section-header {
    font-size: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    color: #545454;
    margin-top: 2rem;
}

.promo-menu-cards-section {
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cards-section-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cards-section-top {
    margin-top: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.cards-section-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.cards-promo-card {
    width: 32%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.505);
}

.cards-promo-card:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.751);
}

.cards-promo-img {
    margin-bottom: 1.5rem;
}

.cards-promo-img img {
    width: 18.5rem;
    height: 11rem;
    border-radius: 20px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform: rotate(0deg);
}

.cards-promo-info {
    text-align: center;
}

.cards-promo-info-title {
    color: #545454;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.cards-promo-info-description {
    color: #545454;
    font-size: 0.8rem;
}


/* -------- @MEDIA -------- */


@media screen and (min-width:300px) and (max-width: 720px) {

    .cards-promo-img img {
        width: calc(180px + (230 - 180) * ((100vw - 320px) / (720 - 320)));
        height: calc(106px + (136 - 106) * ((100vw - 320px) / (720 - 320)));
        border-radius: 15px;
    }

    .cards-section-top {
        flex-direction: column;
        width: 100%;
        height: 50%;
        align-items: center;
        margin-bottom: 10px;
    }

    .cards-section-bottom {
        flex-direction: column;
        margin-bottom: 0;
        width: 100%;
        height: 50%;
        align-items: center;
    }

    .cards-promo-card {
        width: 80%;
        height: 100%;
        margin-bottom: 10px;
    }

    .cards-section-content {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .promo-menu-cards {
        height: 340vh;
    }
}


@media screen and (min-width:720px) and (max-width: 835px) {

    .cards-promo-img img {
        width: calc(200px + (230 - 200) * ((100vw - 320px) / (835 - 320)));
        height: calc(106px + (136 - 106) * ((100vw - 320px) / (835 - 320)));
    }

    .cards-section-top {
        flex-direction: column;
        width: 50%;
        height: 100%;
        margin-bottom: 0;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .cards-section-bottom {
        flex-direction: column;
        margin-bottom: 0;
        width: 50%;
        height: 100%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .cards-promo-card {
        width: 92%;
        height: 32%;
        margin-bottom: 10px;
    }

    .cards-section-content {
        flex-direction: row;
        height: 89%;
    }

    .promo-menu-cards {
        height: 180vh;
    }
}

@media screen and (min-width: 835px) and (max-width: 1220px) {

    .cards-promo-img img {
        width: calc(42px + (246 - 42) * ((100vw - 320px) / (1220 - 320)));
        height: calc(42px + (136 - 42) * ((100vw - 320px) / (1220 - 320)));
    }

    .cards-section-content {
        height: 90%;
    }
}